# Opcional: e-mail exibido e destino padrão do formulário (FormSubmit)
# VITE_CONTACT_EMAIL=contato@dsempresarial.com.br

# Opcional: outro e-mail só para receber envios do formulário
# VITE_FORMSUBMIT_EMAIL=contato@dsempresarial.com.br
